@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Montserrat', 'Roboto', sans-serif;
    color: white;
}

html{scroll-behavior:smooth}

.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

@layer components{

    html{
        @apply scroll-smooth
    }

    h1{
        @apply text-5xl
    } 
    h3{
        @apply text-xl
    }

    h2{
    }
    
    h1,h2,h3,h4,h5{
        @apply leading-none
    }
    p{
        @apply max-w-[600px]
    }

    .layout{
        @apply min-h-screen
    }

    .blueGradient{
        @apply bg-gradient-to-b from-InnovaBlueBG to-InnovaBlueDarkerBG
    }

    .greenGradient{
        
        background: linear-gradient(180deg, rgba(3, 94, 54, 0.50) 0%, rgba(156, 182, 78, 0.50) 30.52%, rgba(156, 182, 78, 0.50) 64.73%, rgba(3, 94, 54, 0.50) 100%), #035E36;

    }
    
    .novaprofitGradient{
        
        background: linear-gradient(180deg, #464241 27.08%, #464241 51.56%, #625A58 78.12%);
    }


    .innovaButton{
        @apply bg-InnovaGreen py-2 px-4 mt-4 text-white font-medium rounded-tr-[30px] rounded-br-[30px] rounded-bl-[30px] 
    }

    .annonaButton{
        @apply bg-AnnonaYellow py-2 px-4 mt-4 text-AnnonaGreenBG font-bold rounded-tr-[30px] rounded-bl-[30px] 
    }

    .innovaButtonNav{
        @apply border-transparent hover:border-InnovaGreen hover:bg-black/10 border-2 py-2 px-4 text-white font-medium rounded-tr-[30px] rounded-br-[30px] rounded-bl-[30px] transition ease-in-out delay-100
    }

    .map{
        clip-path: polygon(65% 2%, 99% 39%, 84% 87%, 35% 98%, 1% 61%, 16% 13%);

    }

    .container-map{
        filter: drop-shadow(-1px 6px 8px rgba(50, 50, 0, 0.3));

    }

    .headerNormal{
        @apply bg-InnovaBlue/0 shadow-none
    }
    .headerScroll{
        @apply bg-InnovaBlue/90 shadow-md
    }

    .headerScrollNovaprofit{
        @apply bg-InnovaGreyNovaprofit/90 shadow-md
    }

    .headerScrollAnnona{
        @apply bg-AnnonaGreenBG/90 shadow-md
    }



    .cardTitle{
        @apply text-white font-bold leading-none
    }

    .imageLeaf{
        clip-path: polygon(100% 0, 83% 3%, 43% 19%, 21% 41%, 7% 70%, 1% 100%, 100% 100%);
    }

}


/** =================== MONTSERRAT =================== **/

/** Montserrat Thin **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: normal;
    src: url("/fonts/montserrat/Montserrat-Thin.woff2") format("woff2"),
         url("/fonts/montserrat/Montserrat-Thin.woff") format("woff");
}

/** Montserrat Thin-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: italic;
    src: url("/fonts/montserrat/Montserrat-ThinItalic.woff2") format("woff2"),
         url("/fonts/montserrat/Montserrat-ThinItalic.woff") format("woff");
}

/** Montserrat ExtraLight **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: normal;
    src: url("/fonts/montserrat/Montserrat-ExtraLight.woff2") format("woff2"),
         url("/fonts/montserrat/Montserrat-ExtraLight.woff") format("woff");
}

/** Montserrat ExtraLight-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: italic;
    src: url("/fonts/montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"),
         url("/fonts/montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
}

/** Montserrat Light **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url("/fonts/montserrat/Montserrat-Light.woff2") format("woff2"),
         url("/fonts/montserrat/Montserrat-Light.woff") format("woff");
}

/** Montserrat Light-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: italic;
    src: url("/fonts/montserrat/Montserrat-LightItalic.woff2") format("woff2"),
         url("/fonts/montserrat/Montserrat-LightItalic.woff") format("woff");
}

/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
         url("/fonts/montserrat/Montserrat-Regular.woff") format("woff");
}

/** Montserrat Regular-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    src: url("/fonts/montserrat/Montserrat-Italic.woff2") format("woff2"),
         url("/fonts/montserrat/Montserrat-Italic.woff") format("woff");
}

/** Montserrat Medium **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/montserrat/Montserrat-Medium.woff2") format("woff2"),
         url("/fonts/montserrat/Montserrat-Medium.woff") format("woff");
}

/** Montserrat Medium-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
    src: url("/fonts/montserrat/Montserrat-MediumItalic.woff2") format("woff2"),
         url("/fonts/montserrat/Montserrat-MediumItalic.woff") format("woff");
}

/** Montserrat SemiBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"),
         url("/fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
}

/** Montserrat SemiBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
    src: url("/fonts/montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"),
         url("/fonts/montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
}

/** Montserrat Bold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
         url("/fonts/montserrat/Montserrat-Bold.woff") format("woff");
}

/** Montserrat Bold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    src: url("/fonts/montserrat/Montserrat-BoldItalic.woff2") format("woff2"),
         url("/fonts/montserrat/Montserrat-BoldItalic.woff") format("woff");
}

/** Montserrat ExtraBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    src: url("/fonts/montserrat/Montserrat-ExtraBold.woff2") format("woff2"),
         url("/fonts/montserrat/Montserrat-ExtraBold.woff") format("woff");
}

/** Montserrat ExtraBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: italic;
    src: url("/fonts/montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
         url("/fonts/montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
}

/** Montserrat Black **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    src: url("/fonts/montserrat/Montserrat-Black.woff2") format("woff2"),
         url("/fonts/montserrat/Montserrat-Black.woff") format("woff");
}

/** Montserrat Black-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: url("/fonts/montserrat/Montserrat-BlackItalic.woff2") format("woff2"),
         url("/fonts/montserrat/Montserrat-BlackItalic.woff") format("woff");
}
